@charset "UTF-8";

/* ----------------------------------------------------------
  Lists
---------------------------------------------------------- */

.wpuactionlogs-cell-list {
    margin: 0;
    overflow: hidden;
}

.wpuactionlogs-cell-list li {
    margin: 0;
}

/* ----------------------------------------------------------
  Avatars
---------------------------------------------------------- */

.wpuactionlogs-cell-avatar,
#wpadminbar .wpuactionlogs-active-avatar {
    border-radius: 99em;
    vertical-align: middle;
}

.wpuactionlogs-cell-avatar {
    width: 16px;
    height: 16px;
    margin-right: 0.3em;
}

#wpadminbar .wpuactionlogs-active-avatar {
    width: 1em;
    height: 1em;
    margin: 0 0 0 0.3em;
}

#wpadminbar .ab-sub-wrapper .wpuactionlogs-active-avatar {
    margin: 0 0.3em 0 0;
}
